@model Projekty.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="mt-5 text-center">Czy na pewno chcesz usunąć ten projekt?</h1>

    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <table class="table table-bordered table-hover border-dark">
                <tr>
                    <th style="width: 30%;">ID projektu</th>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <th>Nazwa projektu</th>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <th>Opis</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th>Osoba odpowiedzialna</th>
                    <td>@Model.Person</td>
                </tr>
            </table>

            <form asp-action="Delete" method="post">
                <button type="submit" class="btn btn-danger">Usuń</button>
                <a asp-action="Index" class="btn btn-secondary">Powrót do listy projektów</a>
            </form>
        </div>
    </div>
</div>
