html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: linear-gradient(rgba(245, 246, 252, 0.95) 60%, rgb(158 197 255 / 90%)), url(../img/background.jpg);
}