@{
    ViewData["Title"] = "Polityka prywatności";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <div class="w-100 d-flex justify-content-center"><p class="text-center" style="max-width: 800px">Niniejsza polityka prywatności ma na celu ochronę danych osobowych użytkowników naszej platformy do zarządzania projektami. Zapewniamy, że dbamy o prywatność i bezpieczeństwo Państwa informacji.</p></div>
    <hr />
    <h4>Dane gromadzone</h4>
    <p>Gromadzimy dane osobowe wyłącznie w celu świadczenia usług związanych z zarządzaniem projektami.</p>
    <hr />
    <h4>Używanie danych</h4>
    <p>Twoje dane osobowe wykorzystywane są wyłącznie w celu świadczenia usług związanych z zarządzaniem projektami i nie są udostępniane osobom trzecim bez Twojej zgody.</p>
    <hr />
    <h4>Bezpieczeństwo</h4>
    <p>Działamy w oparciu o najwyższe standardy bezpieczeństwa, aby chronić Państwa dane osobowe przed nieuprawnionym dostępem lub ujawnieniem.</p>
    <hr />
    <h4>Kontakt</h4>
    <p>Jeśli mają Państwo pytania lub zastrzeżenia dotyczące swoich danych osobowych, prosimy o kontakt.</p>
    <hr />
</div>